[project]
	description = Access inherited by all other projects.
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = false
	requireChangeId = true
[submit]
	mergeContent = true
[capability]
	administrateServer = group Administrators
	priority = batch group Non-Interactive Users
	streamEvents = group Non-Interactive Users
	accessDatabase = group Administrators
[access "refs/*"]
	read = group Administrators
	read = group Non-Interactive Users
	read = group TestGroup
	pushTag = group Administrators
	pushTag = group TestGroup
[access "refs/for/refs/*"]
	push = group TestGroup
	pushMerge = group TestGroup
[access "refs/heads/*"]
	create = group Administrators
	create = group Project Owners
	create = group TestGroup
	forgeCommitter = group Administrators
	forgeCommitter = group Project Owners
	forgeCommitter = group TestGroup
	push = group Administrators
	push = group Project Owners
	push = +force group TestGroup
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -2..+2 group TestGroup
	submit = group Administrators
	submit = group Project Owners
	submit = group TestGroup
	editTopicName = +force group Administrators
	editTopicName = +force group Project Owners
	forgeAuthor = group Administrators
	forgeAuthor = group TestGroup
	label-Verified = -1..+1 group Non-Interactive Users
	label-Merge-Queue = -1..+1 group TestGroup
	pushTag = group Administrators
	pushTag = group TestGroup
	pushSignedTag = group Administrators
[access "refs/meta/config"]
	exclusiveGroupPermissions = read
	read = group Administrators
	read = group Project Owners
	read = group TestGroup
	push = group Administrators
	push = group Project Owners
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Project Owners
	submit = group Administrators
	submit = group Project Owners
[access "refs/tags/*"]
	pushTag = group Administrators
	pushTag = group Project Owners
	pushTag = group TestGroup
	pushSignedTag = group Administrators
	pushSignedTag = group Project Owners
	pushSignedTag = group TestGroup
	create = group TestGroup
	forgeAuthor = group TestGroup
	forgeCommitter = group TestGroup
[label "Code-Review"]
	function = MaxWithBlock
	copyMinScore = true
	copyMaxScore = true
	value = -2 This shall not be merged
	value = -1 I would prefer this is not merged as is
	value =  0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	defaultValue = 0
[label "Verified"]
	function = NoBlock
	value = -1 Failed
	value =  0 No score
	value = +1 Verified
	defaultValue = 0
[label "Merge-Queue"]
	function = NoBlock
	value = -1 Merge Failed
	value =  0 No Score
	value = +1 Request Merge
	defaultValue = 0
[mimetype "text/x-c"]
	path = *.cu
	path = *.lcm
