[gerrit]
	basePath = git
	canonicalWebUrl = http://localhost:8081
[database]
	type = h2
	database = db/ReviewDB;MVCC=true
	connectionPool = false
[index]
	type = LUCENE
[auth]
	type = DEVELOPMENT_BECOME_ANY_ACCOUNT
[container]
	user = gerrit2
	javaHome = /usr/lib/jvm/java-7-openjdk-amd64/jre
	heapLimit = 24g
[sshd]
	listenAddress = *:29418
	threads = 10
[httpd]
	listenUrl = http://*:8081/
[cache]
	directory = cache
[cache "changes"]
	memoryLimit = 1024
[cache "web_sessions"]
	maxAge = 1 year
